<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132463746375-kk72i8l4m33jhvsq3ilhnv1ndma5rgnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132463746375-kk72i8l4m33jhvsq3ilhnv1ndma5rgnr</string>
	<key>API_KEY</key>
	<string>AIzaSyCuI-4MX8KfQb2OxT8_8ii6w3uwFCIPkks</string>
	<key>GCM_SENDER_ID</key>
	<string>132463746375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.HackyBirthdayMLH</string>
	<key>PROJECT_ID</key>
	<string>hacky-birthday-mlh</string>
	<key>STORAGE_BUCKET</key>
	<string>hacky-birthday-mlh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132463746375:ios:52e41127d9316a3c468062</string>
	<key>DATABASE_URL</key>
	<string>https://hacky-birthday-mlh.firebaseio.com</string>
</dict>
</plist>